// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

strong {
   font-family: verdana, arial, helvetica, sans-serif;
}

p {
  margin: 33px;
}

a:hover {
  background-color: #000;
  color: #fff;
}

a {
  color: #666;
}